<h1 style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8)">About</h1>
<p style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8)">Retro Game Shop is a place to trade your used console games.</p>
