 <!DOCTYPE html>
<html>
<head>
  <title style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8)">Retro Game Shop</title>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/games.css">
</head>
<body>
  <header>
    <h2 style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8)">Welcome to Retro Game Shop</h2>
        <!-- <p><a href="/">Retro Games</a></p> -->
        <p><a style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8)" href="/about">About</a></p>
        <p><a style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8)" href="/games">Games</a></p>
        <p><a style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8)" href="/games/new">Add A Game</a></p>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8)">
    &copy; Retro Games Shop
  </footer>
</body>
</html>
