<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Retro Game Shop</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/games">Games</a></li>
        <li><a href="/games/new">Add a Game</a></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      &copy; Retro Game Shop
    </footer>

  </header>

</body>
</html>
