 <!DOCTYPE html>
<html>
<head>
  <title>Retro Game Shop</title>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/games.css">
</head>
<body>
  <header>
    <!-- <nav>
      <ol>
        <li><a href="/">Retro Games</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/games/new">Add A Game</a></li>
      </ol>
    </nav> -->
        <p><a href="/">Retro Games</a></p>
        <p><a href="/games">Games</a></p>
        <p><a href="/games/new">Add A Game</a></p>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    &copy; Retro Games Shop
  </footer>
</body>
</html>
