<h2 style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8); margin:5px;">New Game</h2>

<form class="game" id="add-game" method="POST" action="/games">
  <div style="margin-top:10px;">
    <label style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8); " for="game-title">Title:</label>
    <input style="font-family: 'Press Start 2P', serif; color:rblack; font-size:25px; background-color: rgba(255,255,255, 0.8); padding:10px; border-radius:10px;" type='text' name='game[title]' id="game-title">
  </div>

  <div style="margin-top:10px;">
    <label style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8)" for="game-platform">Platform:</label>
    <input style="font-family: 'Press Start 2P', serif; color:black; font-size:25px; background-color: rgba(255,255,255, 0.8); padding:10px; border-radius:10px;" type='text' name='game[platform]' id="game-platform">
  </div>

  <div style="margin-top:10px;">
     <input style="color:black; font-size: 35px; padding: 5px; margin: 10px; font-family: 'Press Start 2P', serif;" type="submit" value="Add Game" class="btn">
  </div>

</form>
