<a style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.8); margin:5px;" href="/games">Back to All Games</a>
<br />
<br />
<br />
<br />
<h2 style="font-family: 'Press Start 2P', serif; color:rgba(255,255,255, 0.6); margin:5px;"><%= @game.to_s %></h2>
